<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">AngularFire</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Category</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/home">Dashboard</a>
          <a class="dropdown-item" routerLink="/course">Course</a>
          <a class="dropdown-item" routerLink="/user">Add User</a>
          <a class="dropdown-item" routerLink="/users">Users</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li style="position:relative">
          <i class="fa fa-bell-o fa-2x" aria-hidden="true" placement="bottom"></i>
          <span class="badge badge-success" *ngIf="notificationCount>0">
              {{notificationCount}}
          </span>
      </li>
      <li>
          <img [src]="auth.userDetails.photoURL" class="profile-pic"/>
      </li>
      <li><a href="" (click)="auth.logout()">Logout</a></li>
    </ul>
  </div>
</nav>